
body{
    background-image: url(img2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

div{
    width: 40%;
    display: flex;
    justify-content: center;
}

h1{
    color: blue;
    font-size: 40px;
}


input{
    width: 300px;
    height: 40px;
    margin: 5px;
    border: none;
    padding: 5px;
    outline: none;
    border-radius: 10px;
}


p{
    color: white;
    font-size: 20px;
}

a{
    color: green;
}

button{
    width: 120px;
    height: 50px;
    font-size: 22px;
    cursor: pointer;
    background-color: green;
    border: none;
    color: #fff;
    transition: .3s;
}

button:hover{
    background-color: rgb(11, 41, 11);
}

@media screen and (max-width: 900px){
    body{
        background-image: url(img1.jpg);
    }
}
